<%# app/views/users/show.html.erb %>
<h1><%= @user.username %>'s Profile</h1>

<dl>
  <dt>Private Account</dt>
  <dd><%= @user.private? ? "Yes" : "No" %></dd>

  <dt>Photos count</dt>
  <dd><%= @photos.count %></dd>

  <% if @user == current_user %>
    <h2>Pending Follow Requests</h2>
    <% if @pending_followers.any? %>
      <ul>
        <% @pending_followers.each do |follower| %>
          <li><%= follower.username %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No pending requests</p>
    <% end %>
  <% end %>

  <% if user_signed_in? && current_user != @user %>
    <%= form_with(url: "/insert_follow_request", method: :post, local: true) do |f| %>
      <%= f.hidden_field :query_recipient_id, value: @user.id %>
      <%= f.hidden_field :query_sender_id, value: current_user.id %>
      <%= f.hidden_field :query_status, value: @user.private? ? "pending" : "accepted" %>
      <button>Follow</button>
    <% end %>
  <% end %>
</dl>

<% if !@user.private? || current_user == @user || current_user&.following&.include?(@user) %>
  <div class="photos">
    <% @photos.each do |photo| %>
      <div class="photo">
        <img src="<%= photo.image %>" class="img-responsive">
        <p><%= photo.caption %></p>
        <p>
          <%= time_ago_in_words(photo.created_at) %> ago
          · <%= pluralize(photo.likes_count, "like") %>
          · <%= pluralize(photo.comments_count, "comment") %>
          · <%= link_to "Show details", photo_path(photo) %>
        </p>
      </div>
    <% end %>
  </div>
<% else %>
  <p>This account is private. Follow to see their photos.</p>
<% end %>
