<%# app/views/photos/show.html.erb %>
<table border="1">
  <tr>
    <th>Image</th>
    <td><img src="<%= @the_photo.image %>" class="img-responsive"></td>
  </tr>

  <tr>
    <th>Caption</th>
    <td><%= @the_photo.caption %></td>
  </tr>

  <tr>
    <th>Owner</th>
    <td><a href="/users/<%= @the_photo.owner.username %>"><%= @the_photo.owner.username %></a></td>
  </tr>

  <tr>
    <th>Posted</th>
    <td><%= time_ago_in_words(@the_photo.created_at) %> ago</td>
  </tr>

  <tr>
    <th>Likes</th>
    <td>
      <%= @the_photo.likes_count %>
      <% if user_signed_in? %>
        <% existing_like = current_user.likes.find_by(photo: @the_photo) %>
        <% if existing_like %>
          <a href="/delete_like/<%= existing_like.id %>">Unlike</a>
        <% else %>
          <form action="/create_like" method="post" style="display: inline;">
            <input type="hidden" name="query_fan_id" value="<%= current_user.id %>">
            <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">
            <button>Like</button>
          </form>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<h2>Comments</h2>
<% if user_signed_in? %>
  <form action="/insert_comment" method="post">
    <input type="hidden" name="query_photo_id" value="<%= @the_photo.id %>">
    <input type="hidden" name="query_author_id" value="<%= current_user.id %>">
    <textarea name="query_body" placeholder="Add a comment..."></textarea>
    <button>Add comment</button>
  </form>
<% end %>

<% @the_photo.comments.order(created_at: :desc).each do |comment| %>
  <p>
    <strong><a href="/users/<%= comment.author.username %>"><%= comment.author.username %></a></strong>
    <%= comment.body %>
    <small><%= time_ago_in_words(comment.created_at) %> ago</small>
    <% if user_signed_in? && comment.author_id == current_user.id %>
      <a href="/delete_comment/<%= comment.id %>">Delete</a>
    <% end %>
  </p>
<% end %>
